# WordPress Headless CMS
NEXT_PUBLIC_WORDPRESS_API_URL=https://wp.uratokyoromance.com/wp-json/wp/v2
WP_DOMAIN=wp.uratokyoromance.com

# Site URL
NEXT_PUBLIC_SITE_URL=https://uratokyoromance.com

# LINE Official Account
NEXT_PUBLIC_LINE_URL=https://lin.ee/8rIIzPg

# Instagram
NEXT_PUBLIC_INSTAGRAM_URL=https://www.instagram.com/ura_tokyo_romance/

# Google Analytics
NEXT_PUBLIC_GA_ID=G-XXXXXXXXXX

# Contact Form
CONTACT_EMAIL=info@uratokyoromance.com
